In [13]:
import pandas as pd
excel_file = "Adidas_US_Sales_Datasets.xlsx"  
df = pd.read_excel(excel_file)
print(df.head())

      Retailer  Retailer ID Invoice Date Date with day     Region  \
0  Foot Locker      1185732     01/ 2020    2020-01-01  Northeast
1  Foot Locker      1185732     01/ 2020    2020-01-01  Northeast
2  Foot Locker      1185732     01/ 2020    2020-01-01  Northeast
3  Foot Locker      1185732     01/ 2020    2020-01-01  Northeast
4  Foot Locker      1185732     01/ 2020    2020-01-01  Northeast

          State          City Buyer Type     Product Name  Units Sold  \
0  Pennsylvania  Philadelphia      Women          Apparel         275
1  Pennsylvania  Philadelphia      Women          Apparel          83
2  Pennsylvania  Philadelphia      Women          Apparel          83
3      New York      New York        Men  Street Footwear        1200
4      New York      New York        Men  Street Footwear         336

   Total Sales  Operating Profit  Operating Margin Sales Method
0     206250.0          61875.00              0.30       Outlet
1       5644.0           2426.92              0.43       Online
2       4399.0           1407.68              0.32       Outlet
3     600000.0         300000.00              0.50     In-store
4      15792.0           9633.12              0.61       Online

In [14]:
print(df.columns)

Index(['Retailer', 'Retailer ID', 'Invoice Date', 'Date with day', 'Region',
       'State', 'City', 'Buyer Type', 'Product Name', 'Units Sold',
       'Total Sales', 'Operating Profit', 'Operating Margin', 'Sales Method'],
      dtype='object')

In [15]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Retailer          9648 non-null   object
 1   Retailer ID       9648 non-null   int64
 2   Invoice Date      9648 non-null   object
 3   Date with day     9648 non-null   datetime64[ns]
 4   Region            9648 non-null   object
 5   State             9648 non-null   object
 6   City              9648 non-null   object
 7   Buyer Type        9648 non-null   object
 8   Product Name      9648 non-null   object
 9   Units Sold        9648 non-null   int64
 10  Total Sales       9648 non-null   float64
 11  Operating Profit  9648 non-null   float64
 12  Operating Margin  9648 non-null   float64
 13  Sales Method      9648 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(2), object(8)
memory usage: 1.0+ MB
None

In [16]:
print(df.describe())

        Retailer ID                  Date with day   Units Sold  \
count  9.648000e+03                           9648  9648.000000
mean   1.173850e+06  2021-05-10 15:20:44.776119296   256.930037
min    1.128299e+06            2020-01-01 00:00:00     0.000000
25%    1.185732e+06            2021-02-17 00:00:00   106.000000
50%    1.185732e+06            2021-06-04 00:00:00   176.000000
75%    1.185732e+06            2021-09-16 00:00:00   350.000000
max    1.197831e+06            2021-12-31 00:00:00  1275.000000
std    2.636038e+04                            NaN   214.252030

         Total Sales  Operating Profit  Operating Margin
count    9648.000000       9648.000000       9648.000000
mean    93273.437500      34425.244761          0.422991
min         0.000000          0.000000          0.100000
25%      4254.500000       1921.752500          0.350000
50%      9576.000000       4371.420000          0.410000
75%    150000.000000      52062.500000          0.490000
max    825000.000000     390000.000000          0.800000
std    141916.016727      54193.113713          0.097197

In [17]:
print(df.isnull().sum())

Retailer            0
Retailer ID         0
Invoice Date        0
Date with day       0
Region              0
State               0
City                0
Buyer Type          0
Product Name        0
Units Sold          0
Total Sales         0
Operating Profit    0
Operating Margin    0
Sales Method        0
dtype: int64

In [6]:
unique_values = df["Retailer"].unique()
print(unique_values)

['Foot Locker' 'West Gear' 'Walmart' 'Sports Direct' "Kohl's" 'Amazon']

In [19]:
unique_values = df["Invoice Date"].unique()
print(unique_values)

['01/ 2020' '02/ 2020' '03/ 2020' '04/ 2020' '05/ 2020' '06/ 2020'
 '07/ 2020' '08/ 2020' '09/ 2020' '10/ 2020' '11/ 2020' '12/ 2020'
 '01/ 2021' '02/ 2021' '03/ 2021' '04/ 2021' '05/ 2021' '06/ 2021'
 '07/ 2021' '08/ 2021' '09/ 2021' '10/ 2021' '11/ 2021' '12/ 2021']

In [8]:
unique_values = df["Region"].unique()
print(unique_values)

['Northeast' 'West' 'Southeast' 'South' 'Midwest']

In [9]:
unique_values = df["State"].unique()
print(unique_values)

['Pennsylvania' 'New York' 'Nevada' 'Colorado' 'Florida' 'Washington'
 'Texas' 'Minnesota' 'California' 'Montana' 'Iowa' 'Louisiana'
 'South Carolina' 'North Dakota' 'New Jersey' 'Georgia' 'South Dakota'
 'Alaska' 'Wisconsin' 'Delaware' 'Connecticut' 'Maine' 'Missouri' 'Kansas'
 'New Mexico' 'North Carolina' 'Massachusetts' 'Oklahoma' 'Hawaii'
 'Oregon' 'Indiana' 'Maryland' 'Rhode Island' 'Michigan' 'Virginia'
 'Kentucky' 'Vermont' 'Ohio' 'Idaho' 'Mississippi' 'Arkansas' 'Wyoming'
 'Utah' 'West Virginia' 'New Hampshire' 'Arizona' 'Tennessee' 'Nebraska'
 'Illinois' 'Alabama']

In [10]:
unique_values = df["City"].unique()
print(unique_values)

['Philadelphia' 'New York' 'Las Vegas' 'Denver' 'Miami' 'Seattle'
 'Houston' 'Minneapolis' 'San Francisco' 'Billings' 'Des Moines'
 'New Orleans' 'Charleston' 'Fargo' 'Newark' 'Atlanta' 'Sioux Falls'
 'Anchorage' 'Milwaukee' 'Wilmington' 'Hartford' 'Portland' 'St. Louis'
 'Orlando' 'Wichita' 'Albuquerque' 'Charlotte' 'Albany' 'Boston'
 'Oklahoma City' 'Honolulu' 'Indianapolis' 'Baltimore' 'Providence'
 'Detroit' 'Richmond' 'Louisville' 'Burlington' 'Columbus' 'Boise'
 'Jackson' 'Little Rock' 'Cheyenne' 'Salt Lake City' 'Manchester'
 'Phoenix' 'Los Angeles' 'Knoxville' 'Omaha' 'Chicago' 'Birmingham'
 'Dallas']

In [11]:
unique_values = df["Buyer Type"].unique()
print(unique_values)

['Women' 'Men']

In [12]:
unique_values = df["Product Name"].unique()
print(unique_values)

['Apparel' 'Street Footwear' 'Athletic Footwear']